@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}



@layer base {
  :root {
    --background: 240 5% 6%;
    --foreground: 60 5% 90%;
    --primary: 240 0% 90%;
    --primary-foreground: 60 0% 0%;
    --secondary: 240 4% 15%;
    --secondary-foreground: 60 5% 85%;
    --accent: 240 0% 13%;
    --accent-foreground: 60 0% 100%;
    --destructive: 0 60% 50%;
    --destructive-foreground: 0 0% 98%;
    --muted: 240 5% 25%;
    --muted-foreground: 60 5% 85%;
    --card: 240 4% 10%;
    --card-foreground: 60 5% 90%;
    --popover: 240 5% 15%;
    --popover-foreground: 60 5% 85%;
    --border: 240 6% 20%;
    --input: 240 6% 20%;
    --ring: 240 5% 90%;
    --chart-1: 359 2% 90%;
    --chart-2: 240 1% 74%;
    --chart-3: 240 1% 58%;
    --chart-4: 240 1% 42%;
    --chart-5: 240 2% 26%;
  }

  .dark {
    --background: 240 5% 6%;
    --foreground: 60 5% 90%;
    --primary: 240 0% 90%;
    --primary-foreground: 60 0% 0%;
    --secondary: 240 4% 15%;
    --secondary-foreground: 60 5% 85%;
    --accent: 240 0% 13%;
    --accent-foreground: 60 0% 100%;
    --destructive: 0 60% 50%;
    --destructive-foreground: 0 0% 98%;
    --muted: 240 5% 25%;
    --muted-foreground: 60 5% 85%;
    --card: 240 4% 10%;
    --card-foreground: 60 5% 90%;
    --popover: 240 5% 15%;
    --popover-foreground: 60 5% 85%;
    --border: 240 6% 20%;
    --input: 240 6% 20%;
    --ring: 240 5% 90%;
    --chart-1: 359 2% 90%;
    --chart-2: 240 1% 74%;
    --chart-3: 240 1% 58%;
    --chart-4: 240 1% 42%;
    --chart-5: 240 2% 26%;
    }
}


